@import "../../assets/scss/variables";

.block-editor-block-list__block {
  .prblocks-bet-calc {
    select {
      border: 2px solid $border__grey !important;
      font-size: 0.9rem !important;
      padding: 5px 25px 5px 10px !important;
      background-color: $color__white;
      color: $color__text !important;
      outline: none !important;
    }

    &__odds-form-field {
      label {
        margin-bottom: 10px;
      }
    }
  }
}
