.block-editor-block-list__block {
  .prblocks-odds-table {
    &__filters {
      form {
        div {
          margin-bottom: 5px;
          flex: 0 0 50%;
          text-align: left;

          &:last-child {
            flex: 0 0 100%;
            text-align: right;
            margin-top: 10px;
          }
        }

        select {
          width: 100%;
        }
      }
    }
  }
}
