.block-editor-block-list__block {
  .prblocks-odds-table {
    &__match {
      flex-direction: column;

      &:not(:last-child) {
        padding-bottom: 20px;
      }
    }

    &__team {
      flex: 0 0 100%;
      width: 100%;
      margin-bottom: 10px;

      > div {
        padding: 0;
      }
    }

    &__odds {
      flex: 0 0 100%;
    }

    &__filters {
      form {
        div {
          margin-bottom: 5px;
          flex: 0 0 100%;
          text-align: right;
        }

        button {
          pointer-events: none;
        }
      }
    }
  }
}
