/**
 * Variables used across the blocks
 */
$color__white: #fff;
$color__black: #000;
$color__text: #222;
$color__grey: #999;
$color__grey-lite: #d7d7d7;
$color__red: #ff0000;

$background__blueish: #e5e9ef;


$border__grey: #d7d7d7;
$background__error: $color__red;

$brakepoint__md-min: 768px;
$brakepoint__md-max: 767px;
