/**
 * Variables used across the blocks
 */
$color__white: #fff;
$color__black: #000;
$color__text: #222;
$color__grey: #999;
$color__grey-lite: #d7d7d7;
$color__red: #f00;

$background__blueish: #e5e9ef;
$background__white-08: rgba(255, 255, 255, 0.8);

$border__grey: #d7d7d7;
$background__error: $color__red;

$brakepoint__lg-min: 1200px;
$brakepoint__lg-max: 1199px;
$brakepoint__md-min: 992px;
$brakepoint__md-max: 991px;
$brakepoint__sm-min: 768px;
$brakepoint__sm-max: 767px;
